* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-width: 300px;
    max-height: 300px;
}

h2 {
    margin: 1vh;
}

li {
    padding-top: 1vh
}

button {
    background-color: #FFD275;
    border-radius: 1vh;
}

body {
    background-color: #FFD275;
}

header {
    height: 8vh;
    background-color: #E8AE68;
    color: black;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
}

article {
    background-color: #E8AE68;
    margin-top: 2vh;
    padding: 1vh;
    border-radius: 4vh;
}

section {
    background-color: #E8AE68;
    margin-top: 2vh;
    text-align: center;
    padding: .1vh
}

.picture-holder {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.picture-holder img {
    width: 30vw;
    height: auto;
    border-radius: 2vh;
}

.enlarged-img-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vh;
    border-radius: 4vh;
    margin-top: 2vh;
    background-color: #FFD275;
}

.enlarged-img-container img {
    width: 40vw;
    height: auto;
    border-radius: 2vh;
}

.description-container {
    margin: 6vh;
}

.food-pic {
    display: flex;
}

.hidden {
    display: none;
}

#dual-container {
    height: 100%;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    margin-top: 1vh;
}

#recommended-section {
    flex: 2;
    height: auto;
    background-color: #E8AE68;
    align-items: center;
    justify-content: center;
    margin-right:1vh;
}

#mealplan-section {
    flex: 1.5;
    height: auto;
    background-color: #E8AE68;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#meal-plan {
    margin-top: 3vh;
}

.meal-plan-item {
    margin-top: 1vh;
}

.restaurant-title {
    margin-left: 1vh;
}